<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~
  ~ Copyright (C) 2015-2023, JKOOL LLC.
  ~
  ~ This library is free software; you can redistribute it and/or
  ~ modify it under the terms of the GNU Lesser General Public
  ~ License as published by the Free Software Foundation; either
  ~ version 2.1 of the License, or (at your option) any later version.
  ~
  ~ This library is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this library; if not, write to the Free Software
  ~ Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
  ~
  -->

<Configuration strict="true" shutdownHook="disable"
               xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config
                                   https://raw.githubusercontent.com/apache/logging-log4j2/main/log4j-core/src/main/resources/Log4j-config.xsd">
    <Properties>
        <Property name="tnt4j.streams.log.filename">logs/tnt4j-streams.log</Property>
        <Property name="tnt4j.activities.log.filename">logs/tnt4j-streams-activities.log</Property>
    </Properties>
    <Appenders>
        <!-- ### direct log messages to console ### -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p [%t!%c{1}] - %m%n</Pattern>
            </PatternLayout>
        </Console>
        <!-- ### direct log messages to file rolling on startup and size based ### -->
        <RollingFile name="file"
                     fileName="${tnt4j.streams.log.filename}"
                     filePattern="${tnt4j.streams.log.filename}.%d{yyyyMMdd}.%i.gz"
                     ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{ISO8601} %-5p [%t!%c{1}] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30" fileIndex="min">
                <Delete basePath="${baseDir}" maxDepth="1">
                    <IfFileName glob="${tnt4j.streams.log.filename}.*.gz"/>
                    <IfLastModified age="30d"/>
                    <!--IfAccumulatedFileCount exceeds="30"/-->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <!--  ### branch for sink written activity entities logger ### -->
        <RollingFile name="activities_log"
                     fileName="${tnt4j.activities.log.filename}"
                     filePattern="${tnt4j.activities.log.filename}.%d{yyyyMMdd}.%i.gz"
                     ignoreExceptions="false" createOnDemand="true">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30" fileIndex="min">
                <Delete basePath="${baseDir}" maxDepth="1">
                    <IfFileName glob="${tnt4j.activities.log.filename}.*.gz"/>
                    <IfLastModified age="30d"/>
                    <!--IfAccumulatedFileCount exceeds="30"/-->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- ### jKool LLC TNT4J Streams log level and appenders used -->
        <AsyncRoot level="INFO">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </AsyncRoot>
        <!-- ### streams API logger -->
        <AsyncLogger name="com.jkoolcloud.tnt4j.streams" level="DEBUG"/>
        <!-- ### tnt4j API logger -->
        <!-- <AsyncLogger name="com.jkoolcloud.tnt4j" level="DEBUG"/> -->
        <!-- ### jesl API logger -->
        <!-- <AsyncLogger name="com.jkoolcloud.jesl" level="DEBUG"/> -->
        <!-- #### streamed activity entities logger #### -->
        <AsyncLogger name="com.jkoolcloud.tnt4j.streams.activities_log" level="INFO" additivity="false">
            <AppenderRef ref="activities_log"/>
        </AsyncLogger>
    </Loggers>
</Configuration>